.top_box {
    width: 100%;
  }
  .block .el-button{
    padding: 10px 40px;
}
.top_box h2 {
    font-size: 1.375vw;
    color: #333;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0.9375vw;
}
.top_box .time_box {
    font-size: 1vw;
}
.time_box > div {
    float: left;
    color: #333;
    padding: 0.625vw 0;
    margin-left: 3.125vw;
}
.time_box > div:first-child {
    margin-left: 0.3125vw;
}
.time_box > div span {
    width: 13.75vw;
    border: 0.0625vw solid #999;
    color: #999;
    display: inline-block;
    border-radius: 0.1875vw;
    height: 1.875vw;
    line-height: 1.875vw;
    margin-left: 0.625vw;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 13.75vw;
}
